.headerContainer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activeHeaderItems {
    border-bottom: 3px solid #B92B27;
}

.activeheaderLinks {
    color: #B92B27;
}

.headerLinks {
    font-size: 25px;
}

@media (min-width: 992px) {
    .headerLinks:hover {
        background: #F7F7F8;
    }
}

.responsiveInput {
    width: 300px;
}

@media (max-width: 1085px) {
    .responsiveInput {
        max-width: 250px;
    }
}

@media (max-width: 1035px) {
    .responsiveInput {
        max-width: 200px;
    }
}