.darkThemeContainer {
    background: #212529;
    color: white;
}

.lightThemeContainer {
    background: #F1F2F2;
}

.darkThemeHeaderContainer {
    box-shadow: rgba(0, 0, 0, 0.952) 0px 2px 8px 0px;
    background: #212529;
}

.lightThemeHeaderContainer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: white;
}

.activeHeaderItems {
    border-bottom: 3px solid #B92B27;
}

.activeheaderLinks {
    font-size: 25px;
    color: #B92B27;
}

.darkThemeHeaderLinks {
    font-size: 25px;
    color: #212529;
}

.lightThemeHeaderLinks {
    font-size: 25px;
    color: white;
}

@media (min-width: 992px) {
    .darkThemeHeaderLinks:hover {
        font-size: 25px;
        background: #F7F7F8;
    }

    .lightThemeHeaderLinks:hover {
        font-size: 25px;
        background: #2d3033;
        color: white;
    }
}

.responsiveInput {
    width: 300px;
}

@media (max-width: 1100px) {
    .responsiveInput {
        max-width: 250px;
    }
}

@media (max-width: 1045px) {
    .responsiveInput {
        max-width: 190px;
    }
}